.navbar {
    background-color: #0f172a;
    padding: 12px 3%;
    display: flex;
}

h1 {
    font-size: 1.8em;
    margin-right: 1em;
    color: #fff;
}
.navbar ul {
    margin-top: 30px;
    display: flex;
    gap: 0.7em;
    list-style: none;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}